.content-light {
    background-color: #fff;
    color: #333;
  }
  
  .content-dark {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode {
    background-color: #222;
    color: #eee;
  }